* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Jost';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff38be0;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Hoefler Text';
  src: url('./fonts/Hoefler\ Text\ Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost-VariableFont_ital\,wght.ttf') format('truetype');
}